<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
  </head>
  <body>
    <div class="menuBar">
      <div id="title">
        <h1>
          <a href="/">Catalog</a>
        </h1>
      </div>
      <div class="user">
        <a href="/gdisconnect">Logout</a>
      </div>
    </div>
    <div class="currentUser">
      <p>Currently logged in as: {{user.email}}</p>
    </div>
    <div class="">
      <h3>Name</h3>
      <p>{{info.name}}</p>
      <h3>Description</h3>
      <p>{{info.description}}</p>
      <h3>Price</h3>
      <p>{{info.price}}</p>
      <h3>Category</h3>
      <p>{{info.category}}</p>
      <h3>Creator:</h3>
      <p>{{info.user.name}}</p>
    </div>
  </body>
</html>
