<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../static/img/car.svg" width="30" height="30" class="d-inline-block align-top"alt="">
          Car Catalog
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav ml-auto mr-5">
           <li class="nav-item">
             <a class="nav-link" href="{{url_for("newModel")}}">New Model</a>
           </li>
         </ul>
        <div class="form-inline">
          <a class="btn btn-danger my-2 my-sm-0" role="button" href="/login">Login</a>
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
          {% for message in messages %}
          <div class="currentUser">
            <p>{{message}}</p>
          </div>
          {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container pt-5 pl-0 pr-0">
      <div class="row">
        <div class="col-3">
          <h3>Brands</h3>
          <div class="list-group">
            {% for brand in brands %}
            <div class="">
              <a class="list-group-item list-group-item-action" href='{{
                url_for('listModels', brand=brand.name)
              }}'>
                <div class="container row align-middle align-items-center">
                  <img src="{{brand.img}}" width="50" height="50" class="d-inline-block align-top" alt="">
                  <span class="align-middle pl-3">{{brand.name}}</span>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-9">
          <div id="title">
            <h3>Latest Models</h3>
          </div>
          <div class="row">
            {% for model in models %}
            <div class="card" style="width: 18rem;">
              <img src="{{model.img}}" class="card-img-top">
              <div class="card-body">
                <h5 class="card-title">{{model.name}}</h5>
                <p class="card-text">{{model.description}}</p>
                <a class="btn btn-primary" href='{{
                    url_for('modelInfo', brand=model.brand.name, model=model.name)
                  }}'>
                Learn More
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>

</html>
