<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
  </head>
  <body>
    <div class="menuBar">
      <div id="title">
        <h1>
          <a href="/">Catalog</a>
        </h1>
      </div>
      <div class="user">
        <a href="/gdisconnect">Logout</a>
      </div>
    </div>
    <div class="currentUser">
      <p>Currently logged in as: {{user.email}}</p>
    </div>
    <div class="content">
      <div class="brands">
        <div class="title">
          <h3>Brands</h3>
        </div>
        <div class="list">
          {% for brand in brands %}
          <div class="brand">
            <a href='{{
              url_for('listModels', brand=brand.name)
            }}'>
              {{brand.name}}
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="models">
        <div class="title">
          <h3 id="personal">{{brand.name}}</h3>
          <h5>
            <a href="{{
              url_for("deleteBrand", brand_id=brand.id)
            }}">Delete</a>
          </h5>
        </div>
        <div class="list">
          {% for model in models %}
            <div class="model">
              <a href='{{
                url_for('modelInfo', brand=brand.name, model=model.name)
              }}'>
                {{model.name}}
              </a>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="createNewCar">
        <h4>
          <a href="{{url_for("newModel")}}">New Model</a>
        </h4>
      </div>
    </div>

  </body>
</html>
