body {
  margin: 2% 20% 2% 20%;
}

.menuBar {
  display: flex;
  justify-content: space-between;
  background-color: #ffcccc;
}

.menuBar #title {
  padding-left: 2%;
  padding-right: 2%;
}

.menuBar .user {
  background-color: green;
  padding: 1% 3% 1% 3%;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.currentUser {
  background-color: #ffff99;
  text-align: center;
  margin: auto;
}

.content {
  display: flex;
  justify-content: flex-start;
  height: 100%
}

.models {
  flex-basis: 23%;
}

.brands {
  flex-basis: 30%;
}

/*.brand {
  padding: 5% 0% 5% 0%;
}

.model {
  padding: 5% 0% 5% 0%;
}*/

/*#personal {
  margin-bottom: 0;
}*/

.list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: baseline;
}
