<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="">
      <a href="/">Catalog</a>
    </div>
    <div class="">
      <h3>Name</h3>
      <p>{{info.name}}</p>
      <h3>Description</h3>
      <p>{{info.description}}</p>
      <h3>Price</h3>
      <p>{{info.price}}</p>
      <h3>Category</h3>
      <p>{{info.category}}</p>
      <p>
        <a href="{{url_for("editModel", model_id=info.model_id)}}">Edit</a>
      </p>
      <p>
        <a href="{{url_for("deleteModel", model_id=info.model_id)}}">Delete</a>
      </p>
    </div>
  </body>
</html>
